/* .date_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 19rem;
} */

.date_label {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
