.wrapper {
  display: block;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  margin-top: 0rem;
  /* margin-bottom: 2rem; */
}

.airportCountryWrapper {
  display: flex;
  flex-direction: column;
}
.select_btn {
  background-color: #fff;
  color: rgb(36, 39, 39);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.down_arrow {
  font-size: 1rem;
  transition: transform 0.1s linear;
}

.wrapper.active .down_arrow {
  transform: rotate(-180deg);
  display: block;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.search_content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: rgb(36, 39, 39);
  /* margin-top: 5rem; */
  padding: 1rem;
  border-radius: 1rem;
  z-index: 3;
}

.wrapper.active .search_content {
  display: block;
}

.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input {
  height: 1.8rem;
  padding-left: 1.7rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #373939;
  color: #999;
  width: 100%;
  /* border: 0; */
}

.search_icon {
  position: absolute;
  margin-left: 0.5rem;
  color: #999;
}
